server:
  http_listen_port: 9080
  grpc_listen_port: 0

clients:
  - url: http://loki:3100/loki/api/v1/push

positions:
  filename: /data/promtail/positions.yaml

scrape_configs:
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          host: ${HOSTNAME}
          __path__: /var/log/*.log

  - job_name: caddy
    static_configs:
      - targets:
          - localhost
        labels:
          job: caddy
          host: ${HOSTNAME}
          __path__: /data/logs/caddy/*.log
    pipeline_stages:
      - json:
          expressions:
            level: level
            ts: ts
            logger: logger
            msg: msg
      - timestamp:
          source: ts
          format: Unix

  - job_name: grafana
    static_configs:
      - targets:
          - localhost
        labels:
          job: grafana
          host: ${HOSTNAME}
          __path__: /data/logs/grafana/*.log

  - job_name: journal
    journal:
      json: false
      max_age: 12h
      path: /var/log/journal
    relabel_configs:
      - source_labels: ["__journal__systemd_unit"]
        target_label: "unit"

