[Unit]
Description=Steam Big Picture Mode
After=multi-user.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/bin/start-steam-bigpicture.sh __USER_UID__ __CONTROLLER_MAC__
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
