global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node-exporter"
    static_configs:
      - targets: ["docker-host:9100"]
  
  - job_name: "fail2ban"
    static_configs:
      - targets: ["fail2ban-exporter:9191"]
  
  - job_name: "caddy"
    static_configs:
      - targets: ["docker-host:2019"]
  
  - job_name: "jellyfin"
    metrics_path: /metrics
    metric_relabel_configs:
      - source_labels: [__name__]
        regex: "(.+)"
        target_label: __name__
        replacement: "jf_$1"
    static_configs:
      - targets: ["jellyfin:8096"]
  
  - job_name: "qbittorrent"
    static_configs:
      - targets: ["qbittorrent-exporter:8090"]
  
  - job_name: "desk"
    static_configs:
      - targets: ["desk.aesop:80"]
