{
  admin 0.0.0.0:2019
  metrics {
    per_host
  }
}

(tls-public) {
  tls {
    issuer acme {
      disable_http_challenge
    }
  }
  log {
    output file /var/log/caddy/public_access.log {
      roll_size 10MiB
      roll_keep 5
    }
    format json
  }
}

(tls-internal) {
  tls internal
  log {
    output file /var/log/caddy/internal_access.log {
      roll_size 10MiB
      roll_keep 5
    }
    format json
  }
  @lan {
    remote_ip 192.168.68.0/24
  }
  handle {
    respond "Forbidden" 403
  }
}

# LAN services on port 80;
grafana.io.aesop:80 {
  reverse_proxy grafana:3000
}

prometheus.io.aesop:80 {
  reverse_proxy prometheus:9090
}

alertmanager.io.aesop:80 {
  reverse_proxy alertmanager:9093
}

adguard.io.aesop:80 {
  reverse_proxy adguard:80
}

jellyfin.io.aesop:80 {
  reverse_proxy jellyfin:8096
}

calibre.io.aesop:80 {
  reverse_proxy calibre-web:8083
}

homeassistant.io.aesop:80 {
  reverse_proxy docker-host:8123
}

portainer.io.aesop:80 {
  reverse_proxy portainer:9000
}

desktop.io.aesop:80 {
  reverse_proxy docker-host:8888
}

vpn.io.aesop:80 {
  reverse_proxy wireguard-configs:8080
}

torrents.io.aesop:80 {
  reverse_proxy gluetun:8080
}

:80 {
  respond "Not Found" 404
}

# Private services on port 443;
torrents.io.aesop:443 {
  import tls-internal
  handle @lan {
    reverse_proxy gluetun:8080
  }
}

# Public services on port 443;
jellyfin.aesop.casa:443 {
  import tls-public
  @metrics path /metrics
  handle @metrics {
    respond "Forbidden" 403
  }
  reverse_proxy jellyfin:8096
}

grafana.aesop.casa:443 {
  import tls-public
  reverse_proxy grafana:3000
}

:443 {
  import tls-public
  respond "Not Found" 404
}